<div class="panel calculator">
	<div class="title-area">
		<h2 class="panel-title">Meal Details</h2>
		<hr>
	</div>
	<div class="main-panel">
		<form name="tipForm">
			<table class="calculator-table">
				<tr>
					<th>Base Meal Price: </th><td>$ <input name="meal_price" type="number" ng-model="meal_price" step="0.01"required></td>
				</tr>
				<tr>
					<th>Tax Rate: </th><td>% <input type="number" ng-model="tax_rate" required></td>
				</tr>
				<tr>
					<th>Tip Percentage: </th><td>% <input type="number" ng-model="tip_percentage" required></td>
				</tr>
			</table>
			<p class="error" ng-if="tipForm.$submitted && tipForm.$invalid">Please verify all of your inputs are numbers</p>
			<button class="submit calculator-button" type="submit" ng-click="submit()">Submit</button><button class="cancel calculator-button" type="cancel" ng-click="cancel()">Cancel</button>
		</form>
	</div>
</div>

<div class="panel customer">
	<div class="title-area">
		<h2 class="panel-title">Customer Charges</h2>
		<hr>
	</div>
	<div class="content-area">
		<table>
			<tr>
				<th>Subtotal:</th><td>{{subtotal | currency : $ : 2 }}</td>
			</tr>
			<tr>
				<th>Tip:</th><td>{{tip | currency : $ : 2 }}</td>
			</tr>
			<tr>
				<td colspan="2"><hr></td>
			</tr>
			<tr>
				<th>Total:</th><td>{{total | currency : $ : 2 }}</td>
			</tr>
		</table>
	</div>
</div>
